<div class="container padding-t-2">
    <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
                <p></p>
                <div class="text-left">
                    <div class="form-group">
                        <label for="password">Current Password</label>
                        <input type="password" class="form-control" id="password" name="password" [(ngModel)]="oldPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required>
                    </div>
                    <button type="button" class="btn btn-default" (click)="onCancel()">Cancel</button>
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Change</button>
                </div>
            </div>
        </div>
    </div>
</div>