<div style="border:none;" class="container padding-t-2">
    <div class="row col-md-6 col-md-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Not Authorized</h3>
            </div>
            <div class="panel-body">
                <p>You are not authorized to perform this action or to access this portion of the site.</p>
                <p>If you feel that this is incorrect, please contact <strong>MB Sports</strong> @ <a href="mailto:info@mbsportsusa.com">info@mbsportsusa.com</a>.</p>
                <ul style="list-style:none">
                    <li>Click <a href="/"><small>here</small></a> to go back to the main page.</li>
                    <li>Click <a href="/model/select"><small>here</small></a> to select a boat.</li>
                </ul>
            </div>
        </div>
    </div>
</div>