<ng-template *ngIf="specification.SpecificationTypeSystemName === 'ColorArea'">
    <!--<div class="col-xs-3">
        <ul class="nav nav-tabs tabs-left">
            <li><a href="#tab_{{specification.ID}}" data-toggle="tab">{{specification.DisplayName}}</a></li>
        </ul>
    </div>

    <div class="col-xs-9">
        <div class="tab-content">
            <div class="tab-pane" id="tab_{{specification.ID}}">
                <div *ngFor="let group of specification.Children">
                    <button class="btn btn-lg col-md-2" *ngFor="let child of group.Children">{{child.DisplayName}}</button>
                </div>
            </div>
        </div>
    </div>-->


</ng-template>